{% load static %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    </head>
    <style>
        *{
            padding: 0px;
            margin: 0px;
        }
        body{
        background:url(https://images.unsplash.com/3/doctype-hi-res.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        background-repeat:no-repeat;
        background-size:cover;
        color:white;
        }

        h1{
        text-align:center;
        color:black;
        font-size:60px;
        font-weight: bold;
        font-variant: small-caps;
        text-shadow: 5px 5px white ;
}

        .menuBar {
            list-style: none;
            position: fixed;
            right: 1px;
            background-color: #000000;
            padding: 2px 0;
            z-index: 1;
            height: 45px;
            width: 100%;
        }
        .menuBar li {
            list-style: none;
            float: left;
            margin-top: 10px;
        }
        .menuBar a {
            padding: 6px 15px;
            color: #D3BFA8;
            border: 1px solid #D3BFA8;
            margin: 2px 10px;
            text-decoration: none;
            box-shadow: 2px 1px 10px #D3BFA8;
            font-family: Calibri;
        }
        .menuBar a:hover {
            background-color: #D3BFA8;
            color: #000;
            text-decoration: none;
            box-shadow: 2px 1px 10px #000;
            transition: 1.5s;
            font-family: Calibri;

        }

        .title1 {

         display: block;
         color: white;
            text-align: center;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
            background-color: black;
            font-variant: small-caps;
            font-size: 30px;
            position: relative;
            top: 75px;
            border: 1px solid #D3BFA8;
            margin: 0 200px;

        }
        .feedback{
         color:black;
            font-weight: bold;
           font-family: "Times New Roman", Times, serif;
           font-size:25px;

}
    /*style is used for footer*/
        .footer {
            width: 99.9%;
            text-align: center;
            font-size: 15px;
            position: absolute;
            top: 700px;
            left: 1px;
            padding: 8px;
            border: 1px solid #D3BFA8;
            color: #D3BFA8;
            background-color: #000000;
        }







        .logoutClass a {
            border: none;
            text-decoration: underline;
            box-shadow: none;
            padding: 0px;
        }
        .logoutClass a:hover {
            border: none;
            text-decoration: underline;
            box-shadow: none;
            background-color:#554B3F;
            color: #D3BFA8;
            padding: 0px;
        }
        .column {
  float: left;
  padding: 80px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



        /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

        /*feedback content here*/
        .feedback {
            color: black;
            font-weight: bold;
            font-family: "Times New Roman", Times, serif;
            font-size: 25px;

        }
        .cphotos{
            position: relative;
            top: 220px;
            {#left: 0px;#}
            {#margin: 10px;#}
        }
        img {
            width: 450px;
            height: 340px;
        }
        img:hover {
            padding: 5px;
        }





    </style>
<body>
<div class="container-fluid">
  <h1>Student Feedback System</h1>
</div>
    <header>
        <ul class="menuBar">


            <li><a href= "/http://www.kashiit.ac.in/" > HOME </a></li>

            <li><a href="/AdminLogin/"> ADMIN </a></li>

            <li><a href="/FacultyLogin/">FACULTY</a></li>
            <li><a href="/StudentLogin/"> STUDENT</a></li>
            <li style="float:right"><a href="/about/">ABOUT</a></li>




        </ul>
    </header>

         <div class="title1"> WELCOME TO STUDENT FEEDBACK SYSTEM </div>

    <div class="row">


  <div class="column side"></div>
           <div class="column middle">
             <p class="feedback">" The purpose of this feedback questionnaire is to gather
        information on your learning experience, as well as your
        responses to the course and the teachers. Please think of
        these questions as eliciting your subjective perceptions
        on various aspects of the course.The information you provide
        will be useful to your teachers as well as to the college
        in the ongoing efforts to enhance the quality of education."</p>
           </div></div>



<div class="row">
        <div class="footer">copyrights &copy; 2020 | www.kashiit.ac.in All right reserved</div>
    </div>

</body>
</html>