<html>
    <head>
        <title>Login form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <style>
            body {
                background-color:lightblue ;
                width: 100%;
                color: #000;
            }
            .title {
                margin: 5px auto 30px;
                font-size: 25px;
                text-align: center;
                text-decoration: underline;
                font-weight: bold;
                color: #000;
                background-color: lightgray;
                padding: 5px;
                border-radius: 5px;
            }
            input[type=text], input[type=email], input[type=password],input[type=number] {
                background-color: #E6E6E6;
                padding: 6px;
                font-size: small;
                color: #574B4B;
                font-weight: bold;
            }
            input[type=submit] {
                padding: 5px 25px;
                font-size: small;
                color: lightgrey;
                margin-left: 20px;
            }
            input[type=reset] {
                padding: 5px 25px;
                font-size: small;
                color: lightgrey;
                margin-left: 50px;
            }
            li {
                list-style: none;
                display: inline-block;
                margin-right: 30px;
            }
            form {
                border: 2px solid black;
                padding: 40px;

                border-radius: 5px;
            }
            .linkClass a {
                color: #000;
                font-size: 15px;
                margin: 0px 20px 10px 200px;
            }
            .mybtn {
                color: #000;
                background-color: #fff;
                position: relative;

            }

        </style>
    </head>


    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form method="POST">
                {% csrf_token %}
                <div class="title">Forgot Password</div>
                {{ sform }}
                <br><br>
                  <center>
                <input type="submit" value="Reset" class="btn btn-success">
                </center>


            </form>
        </div>

    </div>
</div>

</body>

</html>