<html>
    <head>
        <title>Update form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <style>
            body {
                background-color: lightcyan;
                width: 100%;
                color: #000;
            }
            .title {
                margin: 5px auto 30px;
                font-size: 25px;
                text-align: center;

                font-weight: bold;
                color: #000;
                background-color: lightgray;
                padding: 5px;
                border-radius: 5px;
            }
            input[type=text], input[type=email], input[type=password],input[type=number] {
                background-color: #E6E6E6;
                padding: 6px;
                font-size: small;
                color: #574B4B;
                font-weight: bold;
            }
            input[type=submit] {
                padding: 5px 25px;
                font-size: small;
                color: lightgrey;
                margin-left: 20px;
            }
            input[type=reset] {
                padding: 5px 25px;
                font-size: small;
                color: lightgrey;
                margin-left: 50px;
            }
            li {
                list-style: none;

                margin-right: 30px;
            }
            form {
                border: 2px solid black;
                padding: 40px;
                display: inline-block;
                border-radius: 5px;
            }
            .linkClass a {
                color: #000;
                font-size: 15px;
                margin: 0px 20px 10px 200px;
            }
            .mybtn {
                color: #000;
                background-color: #fff;
                position: relative;

            }

        </style>
    </head>


<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="title">Update data Here<div>
            <form method="POST">
                {% csrf_token %}
                {{ uform }}<br>
                <center>
                    <input type="submit" value="Update" class="btn btn-success">
                    <input type="reset" value="clear" class="btn btn-danger"><br><br>
                    <a href="/retrieve" class="btn btn-primary mybtn">Back</a>
                </center>
            </form>

        </div>
    </div>

</div>

</body>
</html>